body {
    background: #333;
    margin: 0;
}
.clock-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    color: #4ff874;
    font-size: 40px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

@font-face {
    font-family: Orbitron;
    src: url(./CursedTimer.ttf);
}